.create-recipe-view {
    -fx-font-size: 16px;
    font-size: 16px;
}

.create-recipe-view .title-description-box,
.create-recipe-view .ingredient-box,
.create-recipe-view .add-step-box,
.create-recipe-view .step-table-box {
    -fx-background-color: linear-gradient(from 50% 50% to 100% 100%, -fx-accent-color, derive(-fx-accent-color, -20%));
    background-color: linear-gradient(from 50% 50% to 100% 100%, -fx-accent-color, derive(-fx-accent-color, -20%));
    -fx-border-color: black;
    border-color: black;
    -fx-border-width: 1px;
    border-width: 1px;
    -fx-border-radius: 20px;
    border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 18px;
    font-size: 18px;
}

.create-recipe-view .choice-box {
    -fx-background-color: white;
    background-color: white;
}

.create-recipe-view .list-cell:hover,
.create-recipe-view .list-cell:selected {
    -fx-text-fill: gray;
}

.create-recipe-view .align-left .label {
    -fx-alignment: center-left;
}

.create-recipe-view .button-container {
    -fx-font-size: 20px;
    font-size: 20px;
}

.create-recipe-view .button {
    -fx-cursor: hand;
    cursor: hand;
    -fx-min-width: 40px;
    min-width: 40px;
    -fx-border-radius: 10px;
    border-radius: 10px;
    -fx-background-radius: 10px;
}

.create-recipe-view .table-view .button {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-content-display: graphic-only;
    -fx-cursor: hand;
    cursor: hand;
    -fx-min-width: 40px;
    min-width: 40px;
    -fx-border-radius: 10px;
    border-radius: 10px;
    -fx-background-radius: 10px;
}

.create-recipe-view .table-view .button .delete-user:hover {
    -fx-background-color: rgb(166, 12, 12);
    background-color: rgb(166, 12, 12);
}

.combo-box .list-cell {
    -fx-text-fill: black;
    -fx-cell-size: 1.66667em;
}

.combo-box-popup {
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0.0, 0, 0);
}

.combo-box-popup .list-view {
    -fx-background-color: -fx-main-color, -fx-main-color;
    background-color: -fx-main-color, -fx-main-color;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0.0, 0, 0);
}

.combo-box-popup .list-view .scroll-bar {
    -fx-background-color: -fx-main-color;
    background-color: -fx-main-color;
}

.combo-box-popup .list-view .scroll-bar .thumb {
    -fx-background-color: -fx-accent-color;
    background-color: -fx-accent-color;
}

.combo-box-popup .list-view .scroll-bar .thumb:hover {
    -fx-background-color: derive(-fx-accent-color, -10%);
    background-color: derive(-fx-accent-color, -10%);
}

.combo-box-popup .list-cell:even {
    -fx-background-color: -fx-main-color;
    background-color: -fx-main-color;
}

.combo-box-popup .list-cell:odd {
    -fx-background-color: derive(-fx-main-color, -10%);
    background-color: derive(-fx-main-color, -10%);
}

.combo-box-popup .list-view .list-cell:empty {
    -fx-cell-size: 0px;
    -fx-arc-height: 0px;
    -fx-scale-y: 0;
}

.combo-box-popup .list-view .list-cell:filled:selected,
.combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:even:filled:hover {
    -fx-background-color: derive(-fx-main-color, -5%);
    background-color: derive(-fx-main-color, -5%);
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-popup .list-view .list-cell:odd:filled:hover {
    -fx-background-color: derive(-fx-main-color, -15%);
    background-color: derive(-fx-main-color, -15%);
    -fx-text-fill: -fx-text-inner-color;
}